<a
  mat-raised-button
  class="addProductBtn"
  [routerLink]="['/admin/products/new']"
>
  Add New Product
</a>
<br />
<br />

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>key</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products$ | async">
        <td>{{ p.title }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p | json }}</td>
        <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
