<a mat-raised-button class="addProductBtn" [routerLink]="['/admin/products/new']">
  Add New Product
</a>
<br />
<br />

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products$ | async">
        <td>{{ p.payload.val().title }}</td>
        <td>{{ p.payload.val().price }}</td>
        <!-- <td>{{ p.key }}</td> -->
        <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>