table {
    width: 100%;
    font-feature-settings: black;
    background-color: rgb(123, 129, 122);
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
    font-size: 20px;
    padding-top: 10px;
}

.addProductBtn {
    margin: 2%;
}

tbody
{
  text-align: center;
}




