<a mat-raised-button class="addProductBtn" [routerLink]="['/admin/products/new']">
  Add New Product
</a>
<br />
<br />


<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="filter(input.value)" placeholder="Search..." #input>
</mat-form-field> -->

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.product.title }}</td>
        <!-- <td>{{ p.product.val().price }}</td> -->
        <td>{{ p.product|json }}</td>
        <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>